*.Rhistory
*.RData
*.html
*.pdf
.metadata
*.html
*.asc
*.tif
*.xml
*.RData
*.rdb
*.o
*.so
*.rdx
*.dll
*.png
.Rproj.user
LOSim/\.cproject
LOSim/\.settings/
LOSim/R/RcppExports.R
LOSim/src/RcppExports.cpp
LOSim/R/RcppExports.R
*.log
*.aux
*.gz
.DS_Store

